table {
  background-color: white;
  border-collapse: collapse;
  text-align: center;
  empty-cells: show;
}

td {
  border: 1px solid black;
  height: 20px;
  width: 40px;
}

.titel {
  width: 100px;
}

.col {
  margin-top: 50px;
}

#tärningar img {
  width: 30%;
  max-width: 80px;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Bevara aspect ratio */
  min-width: 100%;
  min-height: 100%;
}

button.kastaTärningar {
  display: block;
  margin: 5% auto;
}

#inställningar {
  color: white;
}

img.clickable, td.clickable {
  cursor: pointer;
}
